<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='./stylesheets/style.css' />
    <link rel="shortcut icon" href="./images/favicon.ico" />
  </head>
  <body>
    <div class="wrap">
      <div class="content">
        <div class="text-image" id="header">
          <img src="./images/presenter.png"/>
          <h1 class="centerText"><%= title %></h1>
        </div>
        <div class="twoColumn">
          <div class="leftColumn">
            <!--左カラム-->
            <p><a href="./login" title="ログイン" class="link-button">ログイン</a></p>
            <p><a href="./regist" title="新規登録" class="link-button">新規登録</a></p>
          </div>
          <div class="centerBar"></div>
          <div class="rightColumn">
            <!--右カラム-->
            <p><%- content %></p>
            <p><a href="./<%= link%>" title="戻る" class="link-button">戻る</a></p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
