<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='//jupiter.tntetsu-lab.cs.kanagawa-it.ac.jp/slidesystem/stylesheets/style.css' />
    <link rel="shortcut icon" href="//jupiter.tntetsu-lab.cs.kanagawa-it.ac.jp/slidesystem/images/favicon.ico" />
  </head>
  <body>
    <div class="wrap">
      <div class="content">
        <div class="text-image" id="header">
          <img src="//jupiter.tntetsu-lab.cs.kanagawa-it.ac.jp/slidesystem/images/presenter.png"/>
          <h1 class="centerText"><%= title %></h1>
        </div>
        <div class="twoColumn">
          <div class="leftColumn">
            <!--左カラム-->
            <p><a href="./login" title="ログイン" class="link-button">ログイン</a></p>
            <p><a href="./regist" title="新規登録" class="link-button">新規登録</a></p>
          </div>
          <div class="centerBar"></div>
          <div class="rightColumn">
            <!--右カラム-->
            <p>輪講支援システムにログインします。</p>
            <form method="post" action="">
              <table border="1" class="normal">
                <tr>
                  <th>学籍番号<error>*</error></th>
                  <td><input type="text" name="username" required placeholder="1721xxx"></td>
                </tr>
                <tr>
                  <th>パスワード<error>*</error></th>
                  <td><input type="password" name="password" required></td>
                </tr>
              </table>
              <p><a href="./" title="戻る" class="link-button">戻る</a><button class="link-button">ログイン</button></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
