<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='http://jupiter.tntetsu-lab.cs.kanagawa-it.ac.jp/slidesystem/stylesheets/style.css' />
    <link rel="shortcut icon" href="http://jupiter.tntetsu-lab.cs.kanagawa-it.ac.jp/slidesystem/images/favicon.ico" />
  </head>
  <body>
  </body>
</html>
